.menu {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 20px;
    width: 700px;
    background-color: gray;
    display: inline-block;
}
.label_y {
    padding-left: 40px;
}
.show_point_indices {
    padding-left: 40px;
}
.number_of_sites {
    padding-left: 40px;
}
.foot {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    width: 700px;
    background-color: gray;
    display: inline-block;
}
.button_start {
    padding-left: 40px;
}
.delaunay {
    padding-left: 40px;
}
